{% extends "layout.html.twig" %}

{% block content %}
    <h1>CONSEILS REDACTION CV</h1>


<div class="explicationsCV">
	<p>Votre CV détaille votre parcours tant au niveau des études que de vos diverses expériences révélatrices de votre personnalité. 
	Votre CV doit refléter qui vous êtes et pourquoi vous serez adapté au poste pour lequel vous postulez. 
	Un CV bien structuré fera apprécier votre esprit de synthèse et votre discernement.</p><br>

	<p>ATTENTION ! A l'entretien, pensez à vous munir de votre CV avec les dates précises des expériences, le recruteur vous le demandera certainement.</p>
	<p>Vous devez justifiez de tous vos diplômes et formations mentionnées</p>

</div>

<div class="CV">
	<h1>RUBRIQUE EXPERIENCES PROFESSIONNELLES / FORMATION</h1>
	<p>Référence indiscutable, votre expérience renseigne le recruteur sur votre parcours et développement de compétences. Un recruteur cherche avant tout des compétences chez un candidat, les diplômes ou expériences donnent un cadre à celles-ci. La rédaction de ces deux rubriques est chronologique. Les dernières expériences, ou études, doivent être les premières à apparaître. Le recruteur connaît tout de suite vos derniers emplois, ou diplômes, et c'est ce qui l'intéresse le plus. </p>

	<p>Pour les rédiger, vous devez tout d'abord faire un bilan de vos diplômes et formations complémentaires, ainsi que de vos expériences professionnelles. 
	Faites un tri pour éliminer les expériences qui sont sans aucun rapport avec votre futur emploi(si nécessaire), cela évite d'alourdir votre CV ou rendent incompréhensible votre projet de carrière. Un recruteur aime pouvoir discerner selon vos expériences dans quel type de carrières vous vous dirigez.</p> 
	<p>Notez que les personnes ayant des profils polyvalents ou des parcours professionnels double, il ne s'agit pas d'un manque de cohérence mais, au contraire, il dénote d'un certain esprit d'initiative et d'adaptation, qualités qui sont très appréciées dans notre monde où les repères changent si souvent. </p>
	<p>Pour compléter le formulaire CV, indiquez le nom de(s) Sociétés, le nom du poste occupé, la durée de l'expérience, les missions effectuées, et si possible les résultats obtenus pour chacune des missions !</p>
	<p>Si vous avez occupé les mêmes postes/fonctions, vous devez regrouper les responsabilités sous une même expérience.</p>


	<h2>Formation</h2>
		<p>Présentez vos formations initiales et professionnelles.</p>
		<p>Pour les formation professionnelles, précisez la durée respective dans le même champs si inférieur au niveau proposé en sélection</p>


	<h1>RUBRIQUE COMPETENCES / LANGUES</h1>
	<p>Langues étrangères : Anglais, espagnol, italien, portugais, russe ? Indiquez les langues que vous avez pu apprendre. 
	Indiquez aussi les séjours linguistiques ou années passées à l'étranger. Ensuite jugez votre niveau.
	ATTENTION ! Certains recruteurs peuvent imposer une partie d'un entretien d'embauche dans une langue étrangère pour essayer de juger plus concrètement votre niveau.</p>	
		

		<h2>Informatique</h2>
			<p>Valorisez vos connaissances informatiques : Il est devenu incontournable de posséder la maîtrise de un, ou plusieurs logiciel(s). Citez les un par un : Excel, Word, Power Point, Photoshop, SPSS. Vous pouvez aussi ajouter les langages de programmation ou frameworks si vous les maîtrisez (PHP, PYTHON, RUBY, SILEX, SYMPHONY...)</p>


	<h1>Centres d’intérêt</h1>
		<p>Ne négligez pas vos centres d’intérêts.</p>
		<p>cette partie met en valeur les traits de votre personnalité, n'hésitez à soulignez si vous faites partie d'une association, ou vous oeuvrez comme bénévole pour des associations en dehors de votre temps professionnel...</p>
		<p>Cette rubrique permet au recruteur de mieux vous connaitre non professionnellement parlant. 
		Vous pratiquez un sport, vous faites de la musique, vous aimez le cinéma, la lecture, les jeux vidéos, les voyages, vous avez le permis B...

	<h1>Bonne chance et bonnes candidatures !</h1>

		<p>Vous pouvez à tout moment supprimer, déplacer, ajouter des rubriques, modifier l'ordre des contenus,...</p>

</div>
    
    
{% endblock %}
