{% extends "layout.html.twig" %}


{% block title 'Admin - Gestion des commandes' %}
    
{% block content %}
    
    <h1>Gestion des commandes</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID commande</th>
                <th>ID entreprise</th>
                <th>Montant</th>
                <th>Nombre de jetons</th>
                <th>Date</th>
                <th>Statut</th>
            </tr>
        </thead>
        
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
{% endblock %}