{% extends "layout.html.twig" %}


{% block title 'Historique de commandes' %}
    
    
{% block content %}

    <br><br>
    <h1 class="text-center">Votre historique des commandes</h1>
    <br>
    
    <table class="table table-striped table-bordered " style="border: solid black 1px;">
        <thead>
            <th class="text-center" style="border: solid black 1px;">Date</th>
            <th class="text-center" style="border: solid black 1px;">Montant</th>
            <th class="text-center" style="border: solid black 1px;">Nombre de jetons</th>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr class="text-center" >
                    <td style="border: solid black 1px; font-size: 20px;">{{ order.orderdate|date('d/m/Y - H:m:s') }}</td>
                    <td style="border: solid black 1px; font-size: 20px;">{{ order.amount }}</td>
                    <td style="border: solid black 1px; font-size: 20px;">{{ order.nbOfTokens }}</td>
                </tr>
            {% endfor %}
        </tbody>
        
        
    </table>

{% endblock %}