{% extends "layout.html.twig" %}

{% block content %}
    
<div class="box-principale">
	<h1>L'équipe HIDDEN PROFILE au grand jour</h1>
	<div class="box stephanie">
		<figure>
			<img src="{{ asset('img/stefGreg.jpg') }}" alt="">
			<figcaption>Stéphanie Tran Gregori<p>Insérez ici une présentation du parcours</p></figcaption>
		</figure>
	</div>
	<div class="box celine">
		<figure>
			<img src="http://lorempixel.com/300/300/" alt="">
			<figcaption>Céline Zanier<p>Insérez ici une présentation du parcours</p></figcaption>
		</figure>
	</div>
	<div class="box dimitri">
		<figure>
			<img src="http://lorempixel.com/300/300/" alt="">
			<figcaption>Dimitri<p>Insérez ici une présentation du parcours</p></figcaption>
		</figure>
	</div>
	<div class="box william">
		<figure>
			<img src="http://lorempixel.com/300/300/" alt="">
			<figcaption>William Buttez<p>Insérez ici une présentation du parcours</p></figcaption>
		</figure>
	</div>
	<div class="box alexandre">
		<figure>
			<img src="http://lorempixel.com/300/300/" alt="">
			<figcaption>Alexandre Dutay<p>Insérez ici une présentation du parcours</p></figcaption>
		</figure>
	</div>
</div>
    
{% endblock %}
