{% extends "layout.html.twig" %}

{% block content %}

<h1 class='titre-espace'>L'équipe HIDDEN PROFILE au grand jour</h1>
<hr class="trait-bleu">
    
<div class="box-principale">
    
    <div class="box stephanie">
        <figure>
            <img src="{{ asset('img/stefG.jpg') }}" alt="">
            <figcaption><strong>Stéphanie</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
    <div class="box celine">
        <figure>
            <img src="{{ asset('img/celine.jpg') }}" alt="">
            <figcaption><strong>Céline</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
    <div class="box dimitri">
        <figure>
            <img src="http://lorempixel.com/300/300/" alt="">
            <figcaption><strong>Dimitri</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
    <div class="box william">
        <figure>
            <img src="http://lorempixel.com/300/300/" alt="">
            <figcaption><strong>William</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
    <div class="box alexandre">
        <figure>
            <img src="http://lorempixel.com/300/300/" alt="">
            <figcaption><strong>Alexandre</strong><p>Insérez ici une présentation du parcours</p></figcaption>
        </figure>
    </div>
</div>
    
{% endblock %}
